img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table th {
    color: #56B551;
}

.total-record{
    color: #56B551;
    text-align:right;
    margin-top: 6px;
}
.btn-color{
    color: black;
}

.inline-hide {
    display: none;
    width: 100%;
    padding: 1px;
}

td, th{
    width: 50px !important;
    padding: .1em !important;
}

span{
    cursor: pointer;
    border-bottom:1px solid black;
    padding-bottom:2px;
}
select {
    height: calc(3.10rem + 2px) !important;
}